@font-face {
  font-family: myFont;
  src: url('./assets/font.ttf');
}

* {
  box-sizing: border-box;
  font-family: myFont !important;
}

body {
  background-color: #ECEFF1;
}

.majorImg {
  width: 75%;
  margin: 2% auto;
  display: block;
}

#root {
  height: 100%;
}

html,
body{
  height: 100%;
}

body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}